.container {
    margin: 40px;
    margin-top: 20px;
}

ul {
    list-style: none;
    /* font-size: 20px */
}
.btn {
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}